@model Tennis339.ViewModels.CreateRoleViewModel

@{
    ViewData["title"] = "Create";
}

<div class="container">
    <h2>Create a Role</h2>
    <form asp-action="Create">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="RoleName"></label>
            <input asp-for="RoleName" />
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>

        <input type="submit" value="Submit" class="btn btn-success">
        <a asp-action="Details">Go back</a>
    </form>
</div>